html{background-color:#fcf3cf;
	
}
img{
  border:solid;
  border-radius: 25px;
  border-color:green;
}

p {
  padding: 10px;
	color: white;
	background-color:green;
	width: fit-content;
	border-style: solid;
  border-radius:27px;
  
}
#begining{
 
  background-color:green;

}
html{
  background-color:light-yellow;
}

li{
  	background-color:green;
	width: fit-content;
	border-style: solid;
  border-radius: 25px;
  border-color:green;
  color :white;
  border-block-width: 15px;
  
  
  margin:10px;
}

strong{
  color:black;
}

.body{
background-color:light-yellow;
}
img{ 
  text-align:left;
}
p{
  border-color:green;
  font-size: 20px;
  
}
#landing{
  
}